{namespace schulungen=Subugoe\Schulungen\ViewHelpers}
<f:layout name="default" />

<f:section name="main">
	<link href="{f:uri.resource(path:'css/schulungen_mod.css')}" rel="stylesheet" />

	<f:flashMessages />
	<f:render partial="Schulung/properties" arguments="{schulung:schulung}" />

	<f:if condition="{0: false} == {0: schulung.termineVersteckt}">
	<f:then>
			<table>
				<caption><f:translate key="tx_schulungen_domain_model_termin.title" /></caption>
			<tr><th><f:translate key="tx_schulungen_domain_model_termin.wochentag" /></th>
				<th><f:translate key="tx_schulungen_domain_model_termin.datum" /></th>
				<th><f:translate key="tx_schulungen_domain_model_termin.freiePlaetze" /></th>
				<th><f:translate key="tx_schulungen_domain_model_termin.anmeldung" /></th>
				<th><f:translate key="tx_schulungen_domain_model_termin.entfaellt" /></th>
			</tr>
			<f:if condition="{termine}">
				<f:then>
					<f:for each="{termine}" as="termin" iteration="Iterator">
						<tr><td><f:translate key="tx_schulungen_domain_model_termin.wochentag.{termin.startzeit -> f:format.date(format: 'N')}" /></td>
							<td><f:format.date format="{f:translate(key: 'tx_schulungen_format.date')}">{termin.startzeit}</f:format.date> - <f:format.date format="{f:translate(key: 'tx_schulungen_format.hour')}">{termin.ende}</f:format.date>
								<f:link.action controller="Termin" action="export" additionalParams="{tx_schulungen: {uid: '{termin.uid}'}}" format="ics" pluginName="Calendar" pageType="1316011668" title="{f:translate(key: 'tx_schulungen_domain_model_schulung.kalender')}" class="fa fa-calendar" id="icon_cal"></f:link.action></td>
						<td class="middle"><schulungen:freiePlaetze maxPlaetze="{schulung.teilnehmerMax}" belegtePlaetze="{termin.anzahlTeilnehmer}" /></td>
							<f:if condition="{termin.anzahlTeilnehmer} < {schulung.teilnehmerMax}">
								<f:then>
									<f:if condition="{0: false, 1: false} != {0: termin.abgesagt, 1: schulung.anmeldungDeaktiviert}">
										<f:then>
											<td class="middle">-</td>
										</f:then>
										<f:else>
											<td class="middle"><f:link.action action="new" controller="Teilnehmer" arguments="{termin:termin}" additionalParams="{tx_schulungen_schulungen: {schulung: '{schulung.uid}'}}" ><f:translate key="tx_schulungen_domain_model_termin.teilnahme" /></f:link.action></td>
										</f:else>
									</f:if>
								</f:then>
								<f:else>
									<td class="middle">-</td>
								</f:else>
							</f:if>
							<td class="middle">
							<f:if condition="{termin.abgesagt}">
								<f:then><f:translate key="tx_schulungen_domain_model_termin.ja" /></f:then>
								<f:else><f:translate key="tx_schulungen_domain_model_termin.nein" /></f:else>
							</f:if>
							</td>
						</tr>
					</f:for>
				</f:then>
				<f:else>
					<tr><td align="center" colspan="5"><f:translate key="tx_schulungen_domain_model_termin.keine_termine" /></td></tr>
				</f:else>
			</f:if>
			</table>
	</f:then>
	<f:else>
		<br />
	</f:else>
	</f:if>

	<f:if condition="{contacts}">
		<div><h2><f:translate key="tx_schulungen_domain_model_schulung.kontakt" /></h2></div>
		<f:for each="{contacts}" as="contact" iteration="Iterator">
			<f:render partial="Schulung/contact" arguments="{contact:contact, subBuilding:contact.subBuilding}" />
		</f:for>
	</f:if>

</f:section>
