<f:layout name="default" />

<f:section name="main">
	{namespace schulungen=Tx_Schulungen_ViewHelpers}

	<f:flashMessages />
	<f:render partial="Schulung/properties" arguments="{schulung:schulung}" />
	<br />

	<h3>Termine:</h3>
	<ul>
		<table width="100%">
		<tr><th><f:translate key="tx_schulungen_domain_model_termin.datum" /></th><th><f:translate key="tx_schulungen_domain_model_termin.freiePlaetze" /></th>
			<th><f:translate key="tx_schulungen_domain_model_termin.anmeldung" /></th><th><f:translate key="tx_schulungen_domain_model_termin.entfaellt" /></th></tr>
		<f:if condition="{termine}">
			<f:then>
				<f:for each="{termine}" as="termin" iteration="Iterator">
					<tr><td><f:translate key="tx_schulungen_domain_model_termin.wochentag.{termin.startzeit -> f:format.date(format: 'N')}" />, <f:format.date format="d.m.Y H:i">{termin.startzeit}</f:format.date> - <f:format.date format="H:i">{termin.ende}</f:format.date>
							<f:link.action controller="Termin" action="export" additionalParams="{tx_schulungen: {uid: '{termin.uid}'}}" format="ics" pluginName="calendar" pageType="1316011668" title="In Kalender eintragen"><image src="{f:uri.resource(path:'Icons/icon_calendar.gif')}" id="icon_cal" width="16px" /></f:link.action></td>
						<td class="middle"><schulungen:freiePlaetze maxPlaetze="{schulung.teilnehmerMax}" belegtePlaetze="{termin.anzahlTeilnehmer}" /></td>
						<f:if condition="{termin.anzahlTeilnehmer} < {schulung.teilnehmerMax}">
							<f:then>
								<f:if condition="{termin.abgesagt}">
									<f:then>
										<td class="middle">-</td>
									</f:then>    
									<f:else>
										<td class="middle"><f:link.action action="new" controller="Teilnehmer" arguments="{termin:termin}" additionalParams="{tx_schulungen_schulungen: {schulung: '{schulung.uid}'}}" >Teilnahme</f:link.action></td>
									</f:else>
								</f:if>
							</f:then>    
							<f:else>
								<td class="middle">-</td>
							</f:else>
						</f:if>
<!--                    <td class="middle"><f:link.action action="new" controller="Teilnehmer" arguments="{termin:termin}" additionalParams="{tx_schulungen_schulungen: {schulung: '{schulung.uid}'}}" >Teilnahme</f:link.action></td>-->
						<td class="middle">
						<f:if condition="{termin.abgesagt}">
							<f:then>Ja</f:then>
							<f:else>Nein</f:else>
						</f:if>
						</td>
					</tr>
				</f:for>
			</f:then>
			<f:else>
                            <tr><td align="center" colspan="4">Keine Termine vorhanden!</td></tr>
			</f:else>
		</f:if>
            </table>
	</ul>

	<!--<f:link.action action="list">Back to list</f:link.action><br />-->

</f:section>