Sehr geehrte(r) {vorname} {nachname},<br />
<br />
Sie haben sich f&uuml;r folgende Veranstaltung angemeldet:<br />
<br />
Schulung: '{schulung}'<br />
Zeit: <f:format.date format="d.m.Y H:i">{start}</f:format.date> - <f:format.date format="H:i">{ende}</f:format.date> Uhr<br />
<br />
Diese Schulung kann leider nicht stattfinden, da sich weniger als <br />
drei Teilnehmende angemeldet haben. Wir bitten Sie daher, sich bei <br />
Interesse zu einem anderen Termin anzumelden.<br />
<br />
Für Fragen, die Inhalte unserer Veranstaltungen in der Zentralbibliothek <br />
betreffen, stehen wir Ihnen gerne an der Zentralen Information zur <br />
Verfügung.<br />
<br />
Ihre SUB G&ouml;ttingen / Zentrale Information<br />
<br />
Platz der G&ouml;ttinger Sieben 1<br />
37073 G&ouml;ttingen<br />
Telefon: 0551/39-5231<br />
E-Mail: information@sub.uni-goettingen.de