Sehr geehrte(r) {vorname} {nachname},<br />
<br />
Sie haben sich f&uuml;r folgende Veranstaltung angemeldet:<br />
<br />
Schulung: '{schulung}'<br />
Zeit: <f:format.date format="d.m.Y H:i">{start}</f:format.date> - <f:format.date format="H:i">{ende}</f:format.date> Uhr<br />
<br />
Die Schulung/Führung wurde abgesagt und kann deshalb leider nicht stattfinden.<br />
Wir bitten Sie daher, sich bei Interesse zu einem anderen Termin anzumelden.<br />
<br />
Für Fragen stehen wir Ihnen gerne zur Verfügung.
<br />
Ihre SUB Göttingen / Zentrale Information
<br />
Platz der G&ouml;ttinger Sieben 1<br />
37073 G&ouml;ttingen<br />
Telefon: 0551/39-5231<br />
E-Mail: zentralinfo@sub.uni-goettingen.de