Liebe(r) {vorname} {nachname},<br />
<br />
Sie sind nun für die Schulung '{schulungsTitel}' angemeldet.<br />
<br />
Folgende Daten wurden am <f:format.date format="d.m.Y">{timestamp}</f:format.date> um <f:format.date format="H:i">{timestamp}</f:format.date> Uhr an uns gesendet:<br />
<br />
Name: {nachname}<br />
Vorname: {vorname}<br />
E-Mail: {email}<br />
Studienfach: {studienfach}<br />
<br />
Schulung: <strong>{schulungsTitel}</strong><br />
Datum / Uhrzeit: <strong><f:format.date format="d.m.Y - H:i">{startZeit}</f:format.date> Uhr</strong><br />
<br />
Bemerkungen: {bemerkung}<br />
<br />
Falls Sie doch nicht teilnehmen können, wäre es schön, wenn Sie sich bei uns per Mail<br /> 
oder direkt über diesen Link <f:link.action absolute="absolute" action="deregister" controller="Teilnehmer" arguments="{identifier:identifier}" pluginName="Schulungen" extensionName="Schulungen">abmelden</f:link.action> würden. Vielen Dank!<br />
<br />
Ihre SUB Göttingen / Zentrale Information<br />
<br />
Platz der Göttinger Sieben 1<br />
37073 Göttingen<br />
Telefon: 0551/39-5231<br />
E-Mail: zentralinfo@sub.uni-goettingen.de<br />