Liebe Zentralinfo,<br />
<br />

der folgende Teilnehmer hat sich von dem Schulungstermin <strong>{schulung}</strong>
am <strong><f:format.date format="d.m.Y">{termin}</f:format.date></strong> von <strong><f:format.date format="H:i">{termin}</f:format.date> - <f:format.date format="H:i">{ende}</f:format.date></strong>
abgemeldet.
<ul>
    <li>{teilnehmer.nachname}, {teilnehmer.vorname} ({teilnehmer.email}), {teilnehmer.studienfach}</li>
</ul>

<br />
Ihre SUB G&ouml;ttingen / Zentrale Information<br />
<br />
Platz der G&ouml;ttinger Sieben 1<br />
37073 G&ouml;ttingen<br />
Telefon: 0551/39-5231<br />
E-Mail: zentralinfo@sub.uni-goettingen.de