Sehr geehrte(r) {vorname} {nachname},<br />
<br />
Sie hatten sich f&uuml;r folgende Veranstaltung angemeldet:<br />
<br />
Schulung: '{schulung}'<br />
Zeit: <f:format.date format="d.m.Y H:i">{start}</f:format.date> - <f:format.date format="H:i">{ende}</f:format.date> Uhr<br />
<br />
Diese Schulung kann leider nicht stattfinden, da sich zu wenig
Teilnehmer angemeldet haben.<br /> Wir bitten Sie, sich ggf. zu
einem anderen Termin anzumelden.<br />
<br />
Falls Sie Fragen haben, wenden Sie sich bitte an die
Zentrale Information.<br />
<br />
Ihre SUB G&ouml;ttingen / Zentrale Information<br />
<br />
Platz der G&ouml;ttinger Sieben 1<br />
37073 G&ouml;ttingen<br />
Telefon: 0551/39-5231<br />
E-Mail: zentralinfo@sub.uni-goettingen.de