Liebe Zentralinfo,<br />
<br />

folgende Teilnehmer haben für den Schulungstermin <strong>{schulung}</strong><br />
am <strong><f:format.date format="d.m.Y">{termin}</f:format.date></strong>
die Benachrichtigung <strong>'{action}'</strong> als E-Mail erhalten:
<ul>
<f:for each="{teilnehmer}" as="person" iteration="Iterator">
    <li>{person.nachname}, {person.vorname} ({person.email})</li>
</f:for>
</ul>

<br />
Ihre SUB G&ouml;ttingen / Zentrale Information<br />
<br />
Platz der G&ouml;ttinger Sieben 1<br />
37073 G&ouml;ttingen<br />
Telefon: 0551/39-5231<br />
E-Mail: zentralinfo@sub.uni-goettingen.de