<div class="tx-ttaddress-pi1">
	<div class="singleAddress vcard" itemscope itemtype="http://schema.org/Person">
		<div class="fn" itemprop="name"><strong>{contact.title} {contact.firstName} {contact.lastName}</strong></div>
		<address class="substaff_address">
			<f:if condition="{subBuilding.address}">
				<div class="substaff_detail -address" itemprop="address" itemscope>
					{subBuilding.address} <br />
					{subBuilding.zip} {subBuilding.city}, {subBuilding.country}<br />
				</div>
			</f:if>
			<f:if condition="{contact.phone}">
				<span class="tel" itemprop="telephone">{contact.phone}
					<f:translate key="tx_schulungen_domain_model_schulung.phone"/>
				</span>
				<br />
			</f:if>
			<f:if condition="{contact.fax}">
				<span class="substaff_detail -fax" itemprop="faxNumber">{contact.fax}
					<f:translate key="tx_schulungen_domain_model_schulung.fax"/>
				</span>
				<br />
			</f:if>
			<f:if condition="{contact.email}">
				<span class="substaff_detail -email" itemprop="email"><a href="mailto:{contact.email}">{contact.email}</a></span>
			</f:if>
		</address>
	</div>
</div>
