<div class="tx-ttaddress-pi1">
	<div class="singleAddress">
		<strong>{contact.title} {contact.firstName} {contact.lastName}</strong>
		<ul>
			<f:if condition="{subBuilding.address}">
				<li>{subBuilding.address}</li>
				<li>{subBuilding.zip} {subBuilding.city}, {subBuilding.country}</li>
			</f:if>
			<f:if condition="{contact.phone}">
				<li>{contact.phone}
					<f:translate key="tx_schulungen_domain_model_schulung.phone"/>
				</li>
			</f:if>
			<f:if condition="{contact.fax}">
				<li>{contact.fax}
					<f:translate key="tx_schulungen_domain_model_schulung.fax"/>
				</li>
			</f:if>
			<f:if condition="{contact.email}">
				<li><a href="mailto:{contact.email}">{contact.email}</a></li>
			</f:if>
		</ul>
	</div>
</div>
