<label for="titel">
	<f:translate key="tx_schulungen_domain_model_schulung.titel"/>
	<span class="required">(required)</span>
</label><br/>
<f:form.textbox property="titel"/><br/>
<label for="beschreibung">
	<f:translate key="tx_schulungen_domain_model_schulung.beschreibung"/>
	<span class="required">(required)</span>
</label><br/>
<f:form.textarea property="beschreibung" cols="40" rows="15"/><br/>
<label for="teilnehmerMin">
	<f:translate key="tx_schulungen_domain_model_schulung.teilnehmer_min"/>
</label><br/>
<f:form.textbox property="teilnehmerMin"/><br/>
<label for="teilnehmerMax">
	<f:translate key="tx_schulungen_domain_model_schulung.teilnehmer_max"/>
</label><br/>
<f:form.textbox property="teilnehmerMax"/><br/>
<label for="mailKopie">
	<f:translate key="tx_schulungen_domain_model_schulung.mail_kopie"/>
</label><br/>
<f:form.textbox property="mailKopie"/><br/>
