<h2>{schulung.titel}</h2>
<f:if condition="{schulung.teilnehmernMin}">
    <f:then>
        <h3>{schulung.untertitel}</h3>
    </f:then>
</f:if>
<f:format.html>{schulung.beschreibung}</f:format.html>

<dl class="tx-schulungen-pi1">
<f:if condition="{schulung.teilnehmernMin}">
    <f:then>
        <dt><f:translate key="tx_schulungen_domain_model_schulung.teilnehmerzahl" />:&nbsp;</dt>
        <dd>{schulung.teilnehmernMin} - {schulung.teilnehmerMax} <f:translate key="tx_schulungen_domain_model_schulung.teilnehmer" /></dd>
    </f:then>
</f:if>
<f:if condition="{schulung.voraussetzungen}">
    <f:then>
        <dt><f:translate key="tx_schulungen_domain_model_schulung.voraussetzungen" />:&nbsp;</dt>
        <dd>{schulung.voraussetzungen}</dd>
    </f:then>
</f:if>
<f:if condition="{schulung.treffpunkt}">
    <f:then>
        <dt><f:translate key="tx_schulungen_domain_model_schulung.treffpunkt" />:&nbsp;</dt>
        <dd><f:format.nl2br>{schulung.treffpunkt}</f:format.nl2br></dd>
    </f:then>
</f:if>
<f:if condition="{schulung.dauer}">
    <f:then>
        <dt><f:translate key="tx_schulungen_domain_model_schulung.dauer" />:&nbsp;</dt>
        <dd>{schulung.dauer}</dd>
    </f:then>
</f:if>
</dl>
