root { 
	display: block;
}

.tx-schulungen-pi1 h3 {
	padding: 4px 0 4px 0 !important;
}

.tx-schulungen-pi1 {
	color: #434343;
}

.tx-schulungen-pi1 .list {
	float:left;
	clear:both;
	margin-bottom: 8px;
}

.tx-schulungen-pi1 table {
	border-spacing: 1px;
}

.tx-schulungen-pi1 table th {
	text-align: left;
	font-weight: normal;
}

.tx-schulungen-pi1 table th td {
	padding: 2px;
}

.tx-schulungen-pi1 td.middle {
	text-align: center;
}

.tx-schulungen-pi1 dt {
	margin-top: 12px;
/*	color: #626262; */
	font-weight: bold;
/*	float: left; */
}

.tx-schulungen-pi1 dd {
/*	text-indent: 20px; */
	margin-left: 20px;
}

.tx-schulungen-pi1 ul {
/*	text-indent: 20px; */
	padding-bottom: 10px !important;
}

.tx-schulungen-pi1 .tx-powermail-pi1_fieldset .away {
	display: none !important;
}

.tx-schulungen-pi1 #icon_cal {
	float: right;
	border: 0px;
	margin-right: 4px;
}
