<f:layout name="backend" />

<f:section name="backend">

	<h2 class="uppercase">Schulungen</h2>
	<div id="tx_schulungen-inhalt">

	<h4>{termin.schulung.titel}</h4>
	<strong>Termin:</strong> <f:format.date format="d.m.Y H:i">{termin.startZeit}</f:format.date> - <f:format.date format="H:i">{termin.ende}</f:format.date><br /><br />
    <table>
		<tr>
			<th width="30%">Teilnehmer ({termin.anzahlTeilnehmer})</th>
			<th width="30%">E-Mail</th>
			<th width="30%">Fach / Studiengang</th>
                        <th width="10%">Operationen</th>
		 </tr>    
		<f:if condition="{termin.teilnehmer}">
			<f:then>
				  <f:for each="{termin.teilnehmer}" as="teilnehmer" iteration="Iterator">
					  <tr>
						  <td class="date {f:if(condition: Iterator.isEven, then: 'Even')}">{teilnehmer.vorname} {teilnehmer.nachname}</td>
						  <td class="date {f:if(condition: Iterator.isEven, then: 'Even')}"><f:link.email email="{teilnehmer.email}">{teilnehmer.email}</f:link.email></td>
						  <td class="date {f:if(condition: Iterator.isEven, then: 'Even')}">{f:if(condition: teilnehmer.studienfach, then: teilnehmer.studienfach, else: '-')}</td>
						  <td class="date {f:if(condition: Iterator.isEven, then: 'Even')}">
								<f:link.action action="edit" controller="Teilnehmer" arguments="{teilnehmer:teilnehmer}" additionalParams="{termin:termin}"><span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-open" alt="Edit" title="Edit"></span></f:link.action>
								<f:link.action action="deleteBackend" controller="Teilnehmer" arguments="{teilnehmer:teilnehmer}"><span class="t3-icon t3-icon-actions t3-icon-actions-edit t3-icon-edit-delete" alt="Delete" title="Delete"></span></f:link.action>
						  </td>
					  </tr>
				  </f:for>
			</f:then>
			<f:else>
				  <tr><td colspan="4">Bisher liegen noch keine Anmeldungen vor!</td></tr>
			</f:else>
		</f:if>
    </table>

	
	<f:if condition="{termin.abgesagt}">
		<f:then>
			<f:link.action action="uncancel" arguments="{termin:termin}"><span class="t3-icon t3-icon-actions t3-icon-actions-edit t3-icon-edit-hide" alt="Uncancel" title="Schulung {termin.schulung.titel} am {f:format.date(format:'d.m.Y',date:'{termin.ende}')} zusagen"></span> Termin zusagen</f:link.action>
			<!--<f:be.buttons.icon uri="{f:uri.action(action:'uncancel',arguments:{termin:termin})}" icon="button_unhide" title="Schulung {termin.schulung.titel} am {f:format.date(format:'d.m.Y',date:'{termin.ende}')} zusagen" />-->
		</f:then>
		<f:else>
			<f:link.action action="cancel" arguments="{termin:termin}"><span class="t3-icon t3-icon-actions t3-icon-actions-edit t3-icon-edit-unhide" alt="Cancel" title="Schulung {termin.schulung.titel} am {f:format.date(format:'d.m.Y',date:'{termin.ende}')} absagen"></span> Termin absagen</f:link.action>
		</f:else>
	</f:if>
	<br /><br />
	<f:link.action action="index"><span class="t3-icon t3-icon-actions t3-icon-actions-view t3-icon-view-go-up" alt="Index" title="Index"></span> Zurück zur Übersicht</f:link.action>
</f:section>
