{namespace fed=Tx_Fed_ViewHelpers}

<!-- please note that this example source code is commented out.
     Tabs within tabs/accordions does not currently work -->
<fed:comment>
  <fed:jQuery.tab animated="TRUE">
    <!-- this is the container element - it does NOT have a title but can use
         a few special configuration options (see source referecen) -->
    <fed:jQuery.tab title="Title of tab">
      <!-- this becomes a tab with a custom title. Tag content gets inserted
           in tab. You can use almost any type of content, but be careful
           when using other jQuery/DHTML in here - some require workarounds -->
      <p>I am a text</p>
    </fed:jQuery.tab>
    <fed:jQuery.tab title="Another tab, active" active="TRUE">
      <!-- this tag is initially opened because of active=TRUE.
           The last tab having active=TRUE is used if more than one exists -->
    </fed:jQuery.tab>
  </fed:jQuery.tab>
</fed:comment>