<f:layout name="default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings 
in /Configuration/Kickstarter/settings.yaml:
	Resources:
		Private: 
			Templates:
				Show.html		keep

Otherwise your changes will be overwritten the next time you save the extension in the kickstarter

<f:section name="main">
<h1>Single View for Termin</h1>

<f:flashMessages />
<f:render partial="Termin/properties" arguments="{termin:termin}" />
<f:link.action action="list">Back to list</f:link.action><br />
<f:link.action action="create">New Termin</f:link.action>
</f:section>