<f:layout name="backend" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings 
in /Configuration/Kickstarter/settings.yaml:
	Resources:
		Private: 
			Templates:
				Update.html		keep

Otherwise your changes will be overwritten the next time you save the extension in the kickstarter

<f:section name="backend">
<h2><f:translate key="tx_schulungen_controller_teilnehmer_edit.title" /></h2>

<f:flashMessages />

<f:render partial="formErrors" />

	<f:form method="post" action="updateBackend" name="teilnehmer" object="{teilnehmer}">
		<f:render partial="Teilnehmer/formFieldsBE" arguments="{teilnehmer:teilnehmer}" />
		<f:form.submit value="Save" />
	</f:form>
</f:section>