<f:layout name="default"/>

<f:section name="main">

	<h1>{schulungsTitel}</h1>

	<h2>
		<f:translate key="tx_schulungen_domain_model_teilnehmer.{status}"/>
	</h2>

	<f:flashMessages/>

	<f:link.action action="list" controller="Schulung">
		<f:translate key="tx_schulungen_zurueck"/>
	</f:link.action>

	<br/>
	<f:if condition="{contacts}">
		<div>
			<h2>
				<f:translate key="tx_schulungen_domain_model_schulung.kontakt"/>
			</h2>
		</div>
		<f:for each="{contacts}" as="contact" iteration="Iterator">
			<f:render partial="Schulung/contact" arguments="{contact: contact}"/>
		</f:for>
	</f:if>


</f:section>
